body{
    margin: 0 !important;
}
.back{
    background-image: url('/images/back.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: #fff;
        font-size: 2rem;
    }
}
.overlay_nav {
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 20px;
            padding: 20px 0;
            margin: 0 10px;
            flex-direction: column;
            color: black;
            transition: 0.5s;
            width: 150px;
            letter-spacing: 1px;;
            &:hover{
                transform: scale(1.03);
                transition: 0.4s;
                box-shadow: 0 0 20px #000;
            }
            img{
                width: 50px;
                margin-bottom: 10px;
                filter: opacity(0.2);
            }
        }
    }
}
//List of users
.overlay_nav.users {
    background-color: #eee;
    padding: 30px;
    border-radius: 20px;
    flex-wrap: wrap;
    @media (max-width: 600px){
        width: calc(100% - 50px);
    }
    table{
        margin: 0;
        tr{
            height: 50px;
        }
    }
    thead {
        background-color: #393a3c;
        color: #fff;
    }
    a.update {
        padding: 5px 8px;
        border-radius: 6px;
        border: 2px solid #031998;
        color: #031998;
        transition: 0.5s;
        &:hover{
            background-color: #031998;
            transition: 0.3s;
            color: #fff;
        }
    }
    a.update.adduser {
        margin-bottom: 20px;
        cursor: pointer;
    }
}
//Update page
.user_update_form{
    width: 500px;
    @media (max-width: 600px){
        width: calc(100% - 50px);
    }
    p{
        text-align: right;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    input {
        border: 1px solid #dedede;
        border-radius: 10px;
        text-transform: inherit;
    }
    textarea{
        border: 1px solid #dedede;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
        display: block;
        text-transform: inherit;
    }
    input.sub{
        padding: 8px 12px;
        border-radius: 6px;
        border: 2px solid #031998;
        color: #031998;
        transition: 0.5s;
        display: block;
        margin-left: auto;
        width: 100px;
        &:hover{
            background-color: #031998;
            transition: 0.3s;
            color: #fff;
        }
    }
    .half{
        width: calc(50% - 10px);
    }
    .third{
        width: calc(33% - 10px);
    }
    .quater{
        width: calc(50% - 10px);
    }
}
.modal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px 50px;
    width: 40%;
    position: relative;
    border-radius: 20px;
    @media (max-width: 800px){
        width: calc(100% - 50px);
    }
}
.close {
    position: absolute;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    right: 10px;
    top: 0;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
form.addUserForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .input_wrapper {
        width: calc(50% - 20px);
        input {
            border: 1px solid #dedede;
            border-radius: 10px;
            text-transform: inherit;
        }
        textarea{
            border: 1px solid #dedede;
            border-radius: 10px;
            margin-bottom: 20px;
            width: 100%;
            display: block;
            text-transform: inherit;
        }
    }
    input.sub{
        padding: 8px 12px;
        border-radius: 6px;
        border: 2px solid #031998;
        color: #031998;
        transition: 0.5s;
        display: block;
        margin-left: auto;
        width: 100px;
        &:hover{
            background-color: #031998;
            transition: 0.3s;
            color: #fff;
        }
    }
}