/* Layout
  =============== */
  .small-wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  .medium-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  .large-wrapper{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
  }
  @media screen and (max-width: 1440px){
    .large-wrapper{
      max-width: 1200px;
    }
  }
  @media screen and (max-width: 1200px){
    .large-wrapper, .medium-wrapper{
      max-width: 1000px;
    }
  }
  @media screen and (max-width: 1000px){
    .large-wrapper, .medium-wrapper{
      max-width: 800px;
      padding: 0 20px;
    }
  }